body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}

.Cadastro{
    height: 100vh;
    background-color: rgb(24, 23, 23);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastroContainer{
    min-height: 600px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CadastroTitle{
    margin-bottom: 32px;
    color: rgb(24, 23, 23);
}

.cadastro_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cadastro-input{
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: 8px;
} 

.cadastro-input-border{
    height: 1px;
    width: 100%;
    margin-bottom: 10px;
    background-color: rgb(99, 95, 95);
    transition: 3s ease-in;
}

.login{
    margin-top: 18px;
    text-decoration: none;
    color: rgb(24, 23, 23);
}

.cadastro-input{
    border-radius: 8px;
}

.cadastro-input-border::after{
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: 16px;
    background-color: rgb(99, 95, 95);
}